/* Write your code here. */
.container {
  background-color: #ffffff;
  height: 100vh;
}

.heading {
  font-family: "Roboto";
  text-align: center;
}
.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.green-box {
  font-family: "Bree serif";
  background-color: #fbbf24;
  color: #ffffff;
  align-self: flex-start;
  padding: 10px;
}
.blue-box {
  font-family: "Bree serif";
  background-color: #38bdf8;
  color: #ffffff;
  align-self: center;
  padding: 10px;
}
.pink-box {
  font-family: "Bree serif";
  background-color: #ec4899;
  color: #ffffff;
  align-self: stretch;
  padding: 10px;
}
